{
  // write a good baseline eslint config for a JS and TS project which uses Jest and prettier
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "standard",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/standard",
    "prettier/unicorn"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["jest", "@typescript-eslint", "unicorn", "promise", "import", "prettier"],
  "rules": {},
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "warn"
      }
    }
  ],
  "settings": {
    "jest": {
      "version": 26
    }
  },
  "ignorePatterns": ["node_modules", "dist"]
}